.nav-link {
  color: white;
}

.banner-container {
  width: 100vw;
  height: 200px;
  overflow: hidden;
}

#banner-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.categorias {
  background-color: #f8f9fa;
  width: 100%;
  height: 400px;
}

.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.carousel-text-css {
  background-color: #ffffffb3;
  border-radius: 10px;
  text-align: center;
}

.carousel-text-css h2{
  color: green;
  font-size: 24px;
}

.carousel-text-css p{
  color: #974513;
  font-size: 16px;
}